*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.BotonRegreso{
    width: 100px;
    height: 100px;
    background-color: #53777d;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    border-radius: 50px;
    margin: 50px;
    font-size: 65px;
    color: white;
}

.Imagen{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.pCon{
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-align: center;
}