*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2px;
}

.sobrinoTexto{
width: 95%;
height: auto;
margin: auto;
border: 0.25px solid gray;    
margin-top: 20px;
border-radius: 3px;
display: flex;
flex-direction: row;
}
.CuadroImagen{
  width: 20%;
  height: 150px;
  align-content: center;
}

.CuadroAlmacenInfo{
  width: 80%;
  height: 150px;
text-align: center;
}
.TextoContactos{
    font-family: 'Tajawal', sans-serif;
    color: #53777d;
    font-size: 25px;
padding-top: 50px;
margin: auto;

}

.CuadroImagen img{
  width: 150px;
  height: 150px;
  margin: auto;
margin-left: 50px;


}

@media only screen and (max-width:767px){

section{
  width: 100%;/*TAMA�O HORIZONTAL*/
  height: auto;/*TAMA�O VERTICAL*/
  margin: auto;/*MARGEN AUTOMATICO*/
  display: flex;/*FLEXIBILIDAD EN LAS CAJAS*/
  flex-direction: column;/*FLEXIBILIDAD EN COLUMNAS*/

}

.sobrinoTexto{

  width: 95%;
  height: 150px;
  display: flex;
  flex-direction: row;
    float: left;
    border: 0.50 solid black;
    }

.CuadroImagen{
  width: 25%;
  height: auto;
  align-content: center;
    
}

.CuadroAlmacenInfo{
 width: 80%;
 height: 150px;
text-align: center;
float: left;
}
    
.CuadroImagen img{
  width: 80px;
  height: 80px;
  margin: auto;
margin-left: 20;
margin-top: 25px;
}

.TextoContactos{
  font-family: 'Tajawal', sans-serif;
    color: #53777d;
    font-size: 18px;
padding-top: 55px;
margin: auto;
}
}